<div class="form-left-col">
    <label>Id:</label>
    <input id="idInput" type="text" ng-model="supercar._id" disabled />

    <label>Name:</label>
    <input id="nameInput" type="text" ng-model="supercar.name" required/>

    <label>Country:</label>
    <input id="countryInput" type="text" ng-model="supercar.country" />

    <label>Top Speed (mph):</label>
    <input id="topSpeedInput" type="text" ng-model="supercar.top_speed" />

    <label>Power (bph):</label>
    <input id="powerInput" type="text" ng-model="supercar.power" />

    <label>Engine (cc):</label>
    <input id="engineInput" type="text" ng-model="supercar.engine" />

    <label>0-60 (mph):</label>
    <input id="zeroToSixtyInput" type="text" ng-model="supercar.zero_to_sixty" />

    <label>Weight (kg):</label>
    <input id="weightInput" type="text" ng-model="supercar.weight" />

    <button id="saveButton" class="save" ng:click="saveSupercar()">
        Save</button>
    <button id="deleteButton" class="delete" ng:click="deleteSupercar()">
        Delete</button>
</div>

<div class="form-right-col">
    <img width="324" height="200" ng-src="img/{{supercar.image}}" 
        onerror="this.src='img/default.png'"/>

    <label>Image file:</label>
    <input id="imageInput" type="text" ng-model="supercar.image" />

    <label>Notes:</label>
    <textarea id="descriptionTextarea" ng-model="supercar.description" >
    </textarea>
</div>
