<div class="form-left-col">
    <label>Id:</label>
    <input id="idInput" type="text" ng-model="wine._id" disabled />

    <label>Name:</label>
    <input id="nameInput" type="text" ng-model="wine.name" required/>

    <label>Grapes:</label>
    <input id="grapesInput" type="text" ng-model="wine.grapes" />

    <label>Country:</label>
    <input id="countryInput" type="text" ng-model="wine.country" />

    <label>Region:</label>
    <input id="regionInput" type="text" ng-model="wine.region" />

    <label>Year:</label>
    <input id="yearInput" type="text" ng-model="wine.year" />

    <label>Image file:</label>
    <input id="imageInput" type="text" ng-model="wine.image" />

    <button id="saveButton" class="save" ng:click="saveWine()">Save</button>
    <button id="deleteButton" class="delete" ng:click="deleteWine()">Delete</button>
</div>

<div class="form-right-col">
    <img width="250" height="300" src="img/{{ wine.image }}" onerror="this.src='img/generic.jpg'"/>

    <label>Notes:</label>
    <textarea id="descriptionTextarea" ng-model="wine.description" />

</div>
